@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #111132, #0c0c1d, #111132);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    margin: 4rem 0;

    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;

      @include mobile {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }

    hr {
      width: 26rem;
      border: none;
      border-top: 0.5px solid grey;

      @include mobile {
        width: 300px;
      }
      @include tablet {
        width: 6rem;
      }
    }
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    margin: 0 0 4rem 0;

    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 80%;
      margin: 0 auto;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      @include tablet {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 120px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          margin-top: 2rem;

          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
        @include tablet {
          font-size: 80px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
          margin-bottom: 2rem;
        }

        &:hover {
          border: 1px solid orange;
          color: orange;
          background-color: transparent;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 4rem auto 6rem;
    padding: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      margin: 0 auto 1rem;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;

      p {
        padding: 2rem 0;

        font-size: 1.5rem;
        text-align: center;

        @include mobile {
          text-align: left;
        }
      }

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 40px;
        text-align: center;
      }

      a {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: white;
        max-width: 400px;
        border-radius: 4px;
        z-index: 10;

        &:hover {
          border: 1px solid orange;
          color: black;
          background-color: transparent;
          transition: all 300ms ease-in-out;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }
}
