
.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      font-size: 100px;
      line-height: 80px;
    }

    .item {
      address {
        font-weight: 300;
        color: whitesmoke;
        font-style: normal;
      }
    }
  }
  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 16px;
        font-size: 18px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }

      button {
        padding: 16px;
        border: none;
        outline: none;
        background-color: orange;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          border: 1px solid orange;
          color: orange;
          background-color: transparent;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}
